*{
}
.caja{
    width: 100%;
    margin: 0rem auto;
    padding-top: 1rem;
}
.caja form, .caja table{
    width: 50%;
    margin: 0rem auto;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    background-color: black;
    border-radius: 0.5rem;
    box-shadow:  inset .5rem .5rem purple;
}
.cont{
    width: 100%;
}
.cont-titulo{
    color: white;
}
.cont-label{
    width: 20%;
    color: white;
    margin-right: 2rem;
    display: block;
}
.cont-input{
    width: 100%;
    color: black;
    padding: .5rem 0.2rem;
}
.cont-boton{
    color: black;
    padding:.5rem 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
td, th{
    padding: 1rem;
    border: 1px solid black;
    border-collapse: collapse;
}