*{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
}
/*NAV-LOGIN*/
.login{
    width: 100%;
    height: 0rem;
    list-style: none;
    text-align: end;
    padding-top: 2.5rem;
}
.login li{
    display: inline;
}
.login li a{
    color: rgb(184, 184, 184);
    font-size: 1.5rem;
    padding: 1rem;
}
.login li a:hover{
    color: white;
}
/*TITULO*/
.titulo{
    text-align: left;
    padding: 15rem 2.5rem;
    font-size: 6rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0rem;
    color: white;
}
.naranjita{
    color: #ff8800;
    -webkit-text-stroke: 1px black;
    padding: 0;
    margin: 0;
}
.fondo-titulo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.514), #ff8800) ,url("../img/fondo.jpg"); 
}
.fondo-titulo-alterado{
    background-image: linear-gradient(#ff88001f, rgba(0, 0, 0, 0.514)) ,url("../img/fondo.jpg");  
}

/*CUERPO*/
#cuerpo{
    background-color: linear-gradient(#f69c35,white);
    margin: 2rem 5rem;
    border-radius: 0.5rem;
    padding: 2rem;
}
#mision-vision{
    background-color: #e4e4e4;
}
#contenido{
    background-color: #e4e4e4;
    margin: 2rem 5rem;
    border-radius: 0.5rem;
    padding: 2rem;
}
/*DESCIPCION*/
#Descripcion{
    display: flex;
    align-items: center;
}
#Descripcion img{
    width: 600px;
    height: 500px;
    border-radius: 50% 0 50% 0%;
}
#Descripcion p{
    padding: 2rem;
    font-size: 2rem;
    text-align: justify;
    color: white;
}
/*MISION*/
#mision{
    margin-top: 8rem;
    padding-right: 2rem;
}
#mision h3{
    display: block;
    text-align: center;
    font-size: 3rem;
}

.mision-vision_content{
    display: flex;
    align-items: center;
}
#mision img{
    border-radius: 2rem 1rem;
    padding-left: 2rem;
}
/*VISION*/
#vision{
    
    margin: 8rem 0;
}
#vision h3{
    display: block;
    text-align: center;
    font-size: 3rem;
}

#vision p{
    display: block;
}
#vision p img{
    float: left;
}
.mision-vision{
    padding: 2rem;
    font-size: 2rem;
    text-align: justify;
}
#vision img{
    padding-right: 2rem;
}
/*FOOTER*/
.social-media{
    width: 100%;
    display: inline;
    padding-bottom: 2rem;
}
.blanco{
    color: white;
    text-align: justify;
    padding: 2rem;
}
.social-media img{
    width: 50px;
    height: 50px;
    margin: 0.5rem 5rem;
}
.otroNaranjita{
    background-color: #ff8800;
    border-radius:  0rem 4rem 0rem;
}


