/*REGISTRO*/
#contenedor{
    display: flex;
    align-items: center;
}
#registro{
    width: 100%;
    background-color: #000000;
    margin: 5rem auto;
    padding: 1rem;
    border: 1px solid purple;
    box-shadow: -.5rem -.5rem purple;
    border-radius: 0.5rem;
    width: 25%;
}
#registro form{
    display: inline;
}
#registro label{
    display: block;
    opacity: 100%;
    color: white;
    font-size: 1.5rem;
}
#registro input{
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0;
}
#enviar{
    width: 100%;
    text-align: center;
    border: 0;
    border-bottom: 1px solid grey;
    border-right: 1px solid #ccc;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #ffffff;
}
#enviar:hover{
    background-color: purple;
    color: white;
    cursor: pointer;
}
#contenedor img{
    background-color: #000000;
    margin: auto;
    margin-left: 8rem;
}
.admin p,a{
    color: rgb(247, 247, 247);
    font-size: 0.75rem;
}
.admin a{
    color: rgb(255, 0, 255);
}
.admin a:hover{
    color: rgb(255, 130, 255);
}
