/*NAVBAR*/
.navbar{
    width: 100%;
    height: 4rem;
    background-color: #ff8800;
    list-style: none;
    text-align: center;
}
.navbar ul li{
    font-size: 1.8rem;
    display: inline;
    margin-top: 5px;
}
.navbar li a{
    padding: 1rem;
    font-size: 2.5rem;
    color: white;
}
.navbar li a:hover{
    color: rgb(27, 27, 27);  
}
.general{
    background-color: #ff972000;
    border-bottom: 2px solid rgb(59, 9, 110);
}
.general ul li a{
    color: rgb(210, 0, 210);
}
.general ul li a:hover{
    color: white;
}

